@import 'styles/mixins';
@import 'styles/variables';

.header {
  padding: $mobile_spacing;

  .header_logo_container {
    position: relative;
    width: 50px;
    height: 50px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_actions {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  @include desktop() {
    padding: $desktop_spacing;

    .header_actions {
      font-size: 1.1rem;
    }
  }

  @include large-desktop() {
    padding: $large_desktop_spacing;

    .header_actions {
      font-size: 1.2rem;
    }
  }
}
