$background_color: '#4E585F';

$white: '#FDFDFD';
$black: '#333C4B';

$primary_color: '#D59F55';
$secondary_color: '#FFD499';

$primary_font: 'Poppins';
$secondary_font: 'Lora';

$line_height_headings_multiplier: 1.1;
$line_height_body_multiplier: 1.5;

$base_font_size: 1rem;
$base_font_size_multiplier: 1.333;

$mobile_breakpoint: '768px';
$desktop_breakpoint: '1024px';
$large_desktop_breakpoint: '1440px';

$mobile_spacing: 1rem 2rem;
$desktop_spacing: 2rem 4rem;
$large_desktop_spacing: 2rem 6rem;
