@import 'variables';

h4 {
  $font_size: $base_font_size * $base_font_size_multiplier * 1.333;
  font-size: $font_size;
  line-height: $font_size * $line_height_headings_multiplier;
}

h3 {
  $font_size: $base_font_size * $base_font_size_multiplier * (1.333 * 1.333);
  font-size: $font_size;
  line-height: $font_size * $line_height_headings_multiplier;
}

h2 {
  $font_size: $base_font_size * $base_font_size_multiplier *
    (1.333 * 1.333 * 1.333);
  font-size: $font_size;
  line-height: $font_size * $line_height_headings_multiplier;
}

h1 {
  $font_size: $base_font_size * $base_font_size_multiplier *
    (1.333 * 1.333 * 1.333 * 1.333);
  font-size: $font_size;
  line-height: $font_size * $line_height_headings_multiplier;
}

html,
body {
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
