@import 'mixins';
@import 'variables';

.header {
  padding: $mobile_spacing;

  @include desktop() {
    padding: $desktop_spacing;
  }

  @include large-desktop() {
    padding: $large_desktop_spacing;
  }
}
